body{
background:#f4f4f4;
font-family: "Microsoft YaHei","宋体";
margin:0px;
}
ul{list-style-type:none;}
a{text-decoration:none;}
/* Images */
.alignleft {
	float: left;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.alignright {
	float: right;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img{border:none;}



p{
font-size:14px;
margin:10px;}

#header{
background:url(images/header.jpg) #f4f4f4 left no-repeat;
height:20px;
line-height:20px;
font-size:30px;
padding:20px 0px 50px 0px;
margin-left:10px;
}
#tab{
margin:0px;
padding-left:20px;
background:#e3e3e3;
padding-bottom:50px;
border:1px solid rgb(216,216,219);
}

#tab a{
 font-size:16px;
 color:#000;
 padding:19px 19px 19px 19px;
}

#tab .vsss a{
 margin:19px 19px 19px 19px;
 color:#eee;
 background:#3c98ff;
 border:1px solid rgb(176,213,255);
}
#tab .current_page_item a{
 margin:19px 19px 19px 19px;
 color:#eee;
 background:#3c98ff;
 border:1px solid rgb(176,213,255);
}
#tab li{
 float:left;
 width:115px;
 height:50px;
 line-height:50px;
 background:#e3e3e3;
 text-align:center;
 padding:0 2px;

}

#tab li a:hover{
 color:#eee;
 background:#3c98ff;
 border:1px solid rgb(176,213,255);
}

#main{
height:auto;	/*此处标记*/
padding:0px 20px 0 20px;
}

#content{
padding-left:20px;
width:65%;
padding-bottom:40px;
}
#side{
  position: absolute;
  top: 180px;
  right: 30px;
  width: 250px;
}

/*footer*/

#footer{
clear:both;
margin:0px;
height:200px;
background:url(images/footer.jpg) no-repeat #e3e3e3;
border:1px solid rgb(216,216,219);
}
#footer .ri{
float:right;
padding-right:10px;
padding-top:0px;
text-align:right;
color:#666;
font-size:14px;
}
#footer p{
margin:0px;
}

#links {
padding-top:10px;
font-size:14px;
}
#links .u1{
float:left;
position: absolute;
left:100px;
}
#links .u2{
float:left;
position: absolute;
left:250px;
}
#links .u3{
float:left;
position: absolute;
left:400px;
}
#links li{
text-align:center;
background:#acacac;
margin:3px;
padding:5px;
width:120px;
}
#links a{
width:120px;
color:#eee;
}
#links li:hover{
background:#3c98ff;
}
/*blog*/
.blog{
padding:10px;
}
.blogdate{
position: absolute;
margin-top:18px;
font-size:20px;
text-align:center;
right:50px;
line-height:40px;
height:40px;
width:60px;
background:#3c98ff;
color:#fff;
}
.blogcom{
position: absolute;
margin-top:18px;
font-size:20px;
text-align:center;
right:120px;
line-height:40px;
height:40px;
width:60px;
background:#3c98ff;
color:#fff;
}
.blogdate:hover{
background:#009827;
}
.blogcom:hover{
background:#009827;
}
.blogtitle{
position: absolute;
left:0px;
margin-top:15px;
font-size:40px;
line-height:40px;
margin-left:0px;
}
.blogtitle a:hover{
background:#009827;
}
.blogtitle a{
height:40px;
line-height:40px;
font-size:20px;
padding:10px 25px 10px 50px;
color:#fff;
background:#00ab2c;
}
.blogcon{
padding-top:90px;
font-size:14px;
padding-bottom:20px;
}
.blogmeta{
text-align:left;
font-size:13px;

}

.more-link{
position: absolute;
right:350px;  width: 80px;
text-align:center;
padding:5px;
background:#3c98ff;
color:#eee;
}
.more-link:hover{
color:#fff;
background:#ff9600;
}

.updown a{color:#eee;}
.updown {

width:80px;
text-align:center;
padding:5px;
background:#3c98ff;

}
.updown:hover{
color:#fff;
background:#ff9600;
}


.blogcate{
background:url(images/tag.png) no-repeat left;
padding-left:30px;
}
.blogcate a{
color:#eee;
background:#3c98ff;
padding:3px;
}
.blogcate a:hover{
color:#fff;
background:#3c98ff;
}
.blogau a{ 
color:#eee;
background:#3c98ff;
padding:3px;
}
.blogau a:hover{
color:#fff;
background:#3c98ff;
}
.blogau{
background:url(images/user.png) no-repeat left;
padding-left:30px;
}
#blogcontent{
margin:0 auto;
width:95%;
}
#blogcontent p{
padding:10px;
}
/*sider*/
.sids{
background:#f7f7f7;
font-size:14px;
border:1px solid rgb(216,216,219);
margin-top:20px;
}
.sidetitle{
font-weight:bold;
font-size:16px;
padding-top:20px;
padding:10px;
background:#eaeaea;
}

.sidetitle:hover{
background:#efefef;
}
/*
.cat-item  {
padding:10px;
list-style-type:none;
}
*/
.sids p{
padding:10px;
}
.sids ul{
padding:0px;
margin:8px 2px 8px 2px;
}

.sids li {
margin:0px 0px 0px 10px;
padding:10px;
list-style-type:none;
}
.sids li  a{
color:#000;
}
.sids li a:hover {
padding:5px;
color:#fff;
background:#3c98ff;
}

/*
li.cat-item  a{
margin:10px;
color:#000;
}
li.cat-item a:hover {
padding:5px;
color:#fff;
background:#3c98ff;
}
#commentside li{
padding:10px;
list-style-type:none;
}
#commentside li a{
margin:10px;
color:#000;
}

#commentside li{
padding:10px;
list-style-type:none;
}
#commentside li a{
margin:10px;
color:#000;
}
#commentside li a:hover {
padding:5px;
color:#fff;
background:#3c98ff;
}
*/
/*
#tongji a{
color:#000;
}
#tongji a:hover {
padding:5px;
color:#fff;
background:#3c98ff;
}
*/
/*搜索*/
#search .ipt{
  height:30px;
  width: 170px;
}

#search label {
  font-size:14px;
  margin-left:10px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 50px;
  text-align: center;
  background-color: #00ab2c;
  color: #FAFAFA;
  border:0px;
}
#search label:hover {
  background-color: #58b52d;
  cursor: pointer;
}



/* Comments */
.postcomments,.sidecomments{overflow:hidden;margin:0 auto;text-align:left;}
.postcomments{width:82%;}
.sidecomments{width:90%;}


#commentlist{margin:0;padding:0;}
p.comments{font-size:1em;font-weight:700;margin:10px 20px;}
p.comments a{font-style:italic;font-weight:400;color:#5f6a72;text-decoration:underline;}
.page .nocomments{display:none;}
.commentlist{margin:0;list-style:none;}
.commentlist p{margin-bottom:0;}
.commentlist li{margin:10px 0;}
.commentlist .list{position:relative;overflow:hidden;font-size:1em;line-height:18px;}
.commentlist .list .avatar{position:absolute;top:8px;left:0;background:transparent url(resources/gavatar2.png) no-repeat;height:48px;width:48px;padding:2px 3px 3px;}
.commentlist .bubble{float:left;margin:0 45px;width:auto;}
.commentlist .bubble,.commentlist li .bubble td{border:none;padding:0;}
.commentlist .list .comment-author{clear:both;height:25px;line-height:25px;text-align:left;}
.commentlist .list cite{color:#08c;font-style:normal;font-weight:400;font-size:1em;}
.commentlist .list cite a{color:#08a;}
.commentlist .list .comment-meta{}
.commentlist .list .comment-meta a{color:#666;}
.commentlist .list .comment-meta a:hover{color:#08c;}
.commentlist .children{margin:0;}
.commentlist .children .list{text-align:right;}
.commentlist .children .avatar{left:auto;right:0;}
.commentlist .children .bubble{float:right;left:auto;right:0;}
.commentlist .children .comment-author{text-align:right;}

.commentlist .bubble .topleft{background-position:left top;height:9px;width:18px;}
.commentlist .bubble .topright{background-position:-18px top;height:9px;width:11px;}
.commentlist .bubble .bottomleft{background-position:left -9px;width:18px;height:12px;}
.commentlist .bubble .bottomright{background-position:right -9px;width:11px;height:12px;}
.commentlist .bubble .top{background-position:top;font-size:1px;height:9px;}
.commentlist .bubble .bottom{background-position:0 -9px;height:12px;}
.commentlist .bubble .left{background-position:left;width:18px;}
.commentlist .bubble .right{background-position:-18px 0;width:11px;}

.commentlist .bubble .comment-body{text-align:left;background:#3c98ff;color:#fff;width:400px;}

.commentlist .bubble .comment-body:hover{background:#0066d9;color:#fff;}


.commentlist .bubble .comment-body table{border:1px solid #bbb;}
.commentlist .bubble .comment-body th,.commentlist .bubble .comment-body td{border:1px solid #bbb;padding:3px 5px;}
.commentlist .children .bubble .topleft{background-position:0 -21px;height:9px;width:11px;}
.commentlist .children .bubble .topright{background-position:-11px -21px;height:9px;width:18px;}
.commentlist .children .bubble .bottomleft{background-position:0 bottom;width:11px;height:12px;}
.commentlist .children .bubble .bottomright{background-position:right bottom;width:18px;height:12px;}
.commentlist .children .bubble .top{background-position:0 -21px;font-size:1px;height:9px;}
.commentlist .children .bubble .bottom{background-position:bottom;height:12px;}
.commentlist .children .bubble .left{background-position:-29px 0;width:11px;}
.commentlist .children .bubble .right{background-position:right;width:18px;}

.commentlist .children .bubble .comment-body{background:#00ab2c;color:#fff;}
.commentlist .children .bubble .comment-body:hover{background:#007a1f;color:#fff;}


.commentlist .pingback p{border:1px solid #ddd;margin:10px 0;padding:10px 20px; border-radius:7px;width:400px;}
.commentlist .pingback small{color:#777;}
.commentlist .pingback cite{color:#1b4486;font-weight:700;}
.commentlist .pingback cite a{color:#1b4486;}


/*DIY*/
h1{
margin-top: 14px; margin-right: 0px; margin-bottom: 7px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 10px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 2px; 
border-style: initial; 
border-color: initial; 
border-image: initial; 
outline-width: 0px;
outline-style: initial;
outline-color: initial;
font-size: 20px; 
vertical-align: baseline; 
background-image: initial; 
background-attachment: initial; 
background-origin: initial; 
background-clip: initial; 
background-color: #e3e3e3;
border-left-style: solid; 
border-left-color: rgb(70, 130, 180); 
color: #333;
text-align: -webkit-auto;
}
h2{
margin-top: 5px; margin-right: 0px; margin-bottom: 5px; margin-left: 15px; padding-top: 6px; padding-right: 0px; padding-bottom: 5px; padding-left: 10px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 2px; 
border-style: initial; 
border-color: initial; 
border-image: initial; 
outline-width: 0px;
outline-style: initial;
outline-color: initial;
font-size: 16px; 
vertical-align: baseline; 
background-image: initial; 
background-attachment: initial; 
background-origin: initial; 
background-clip: initial; 
background-color: #efefef;
border-left-style: solid; 
border-left-color: #00ab2c; 
color: #333;
text-align: -webkit-auto;
}

#comments,#reply-title{
margin-top: 14px; margin-right: 0px; margin-bottom: 7px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 10px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 5px; 
border-style: initial; 
border-color: initial; 
border-image: initial; 
outline-width: 0px;
outline-style: initial;
outline-color: initial;
font-size: 20px; 
vertical-align: baseline; 
background-image: initial; 
background-attachment: initial; 
background-origin: initial; 
background-clip: initial; 
background-color: #e3e3e3;
border-left-style: solid; 
border-left-color: rgb(70, 130, 180); 
color: #333;
text-align: -webkit-auto;
}

#submit{
  font-size:14px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #00ab2c;
  color: #FAFAFA;
  border:0px;
  font-family: "Microsoft YaHei","宋体";
  float: left;
position: relative;
top: -44px;
left: 137px;
  }
#submit:hover {
  background-color: #58b52d;
  cursor: pointer;
}
.comment-notes{
display:none;
}

textarea#comment{

height:120px;
width:400px;
overflow:hidden;
}

.ad{
position:relative;
float:right;
right:30px;
top:-20px;
overflow:hidden;
}

#commentform{
height:185px;
}
#commentform p{
padding:2px;
}
#respond form label {
display: block;

}
.comment-form-comment{
float:left;
position: relative;
left: 250px;
top: -170px;

}
#respond   {
display: block;

}

blockquote{
border-left: 5px solid #EAEEF1;
background:#fff;
width:60%;
color: #555;
margin: 20px;
padding: 0 20px;
}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
 
 
#posttj img{
display:none;
}